<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div style="color:blue">
        <form action="{{ url_for('predict')}}" method="POST">
            <h2>Prediction</h2>
            <input type="text" id="Text" name="Text">          
            <br><br><button type="submit">classify</button>
            <br>
        </form>
        <br><br><h3>{{ prediction_text }}<h3>
    </div>

</body>


</html>